<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  </head>
  <body class="war3">
    <div class="bg01">
      <div class="flash-box">
					<div class="anim-position">
						<object type="application/x-shockwave-flash" id="hAnim" name="hAnim" data="http://us.media.blizzard.com/blizzard/_flash/games/war3.swf" width="536" height="349"><param name="menu" value="false"><param name="wmode" value="transparent"><param name="allowScriptAccess" value="always"><param name="flashvars" value="loadxml=war3_slides"></object>
					</div>
				</div>
    </div>
    <div class="bg02"></div>
    <div class="bg03"></div>
    <%- include ./header.html %>
    <%- body %>
    <%- include ./footer.html %>
  </body>
</html>
