body,html{
  font-size: 20px;
  font-family: "Lucida Grande", "Microsoft JhengHei", "Microsoft YaHei";
}

body{
  padding: 0;
  margin: 0;
}

.bg01,
.bg02,
.bg03{
  position:absolute;
  width:100%;
  z-index:0
}
.bg01 {
  top: 0;
  height: 493px;
  background: url(/images/bg-top.jpg) top center no-repeat;
}
.war3 .bg02 {
  top: 493px;
  height: 821px;
  background: url(/images/bg-mid02.jpg) top center  no-repeat;
}
.war3 .bg03 {
  top: 1314px;
  height: 1120px;
  background: url(/images/bg-mid03.jpg) top center  no-repeat;
}

.flash-box{
  width: 100%;
  overflow: hidden;
  position: relative;
}

.anim-position {
    position: relative;
    left: 50%;
}
#hAnim{
  margin: 133px 0 0 -18px;
}
